nav {
  height: 40px;
  background: whitesmoke;
  line-height: 40px;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
}

nav ul {
  margin: 0;
  padding: 0 auto;
}

nav li {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 15%;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: serif;
  
}

ul {
  list-style: none;
}

.info {
  text-align: center;
  padding-top: 40px;
  font-family: serif;
  width: 600px;
  margin: 0 auto;
}

.info p {
  font-size: 17px;
}

.container {
  text-align: center;
  padding-top: 40px;
  font-family: serif;
  width: 600px;
  margin: 0 auto;
}

.container img {
  width: 600px;
  height: 400px;
}

.container h1 {
  font-size: 25px;
}

.container p {
  font-size: 17px;
  padding-bottom: 40px;
}

@media (max-width: 900px) {

  nav {
    height: 40px;
    background: whitesmoke;
    line-height: 40px;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0 auto;
  }
  
  nav li {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 15.4%;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    font-family: serif;
    font-size: 8px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .info {
    text-align: center;
    padding-top: 25px;
    font-family: serif;
    width: 90%;
    margin: 0 auto;
  }

  .info h1 {
    font-size: 20;
  }
  
  .info p {
    font-size: 13px;
  }
  
  .container {
    text-align: center;
    padding-top: 25px;
    font-family: serif;
    width: 90%;
    margin: 0 auto;
  }
  
  .container img {
    width: 90%;
    height: 100%;
  }
  
  .container h1 {
    font-size: 18px;

  }
  
  .container p {
    font-size: 13px;
    padding-bottom: 25px;
  }
}